@import url("https://fonts.googleapis.com/css?family=Assistant");
html {
  font-family: 'Assistant', sans-serif; }

header {
  display: block; }
  header .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    padding-top: 30px;
    padding-bottom: 30px; }

a {
  text-decoration: none; }

nav {
  overflow: hidden;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px; }

/* Style the links inside the navigation bar */
nav a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 18px;
  width: 100%; }

body {
  text-align: center;
  margin: 0;
  background-color: #fffaeb; }

hr {
  width: 60%;
  height: 2px;
  color: #ffc000;
  background-color: #ffc000;
  border: none; }

hr.line {
  width: 20%;
  height: 2px;
  color: #ffc000;
  background-color: #ffc000;
  border: none; }

hr.little {
  width: 2%;
  height: 2px;
  color: #ffc000;
  background-color: #ffc000;
  border: none; }

hr.littlewhite {
  width: 2%;
  height: 2px;
  color: #000000;
  background-color: #000000;
  border: none; }

#about {
  padding: 5px 5px 5px 5px; }

#photos {
  padding: 5px 0px 0px 0px; }
  #photos img {
    padding: 0px 0px 5px 0px;
    max-width: 500px; }

.photo {
  color: #000000;
  text-decoration: underline; }

#work {
  padding: 5px 5px 15px 5px; }
  #work img {
    width: 60%;
    height: auto; }

#intro {
  padding: 5px 5px 5px 5px; }

#BBCsubs {
  padding: 0px 5px 0px 5px; }
  #BBCsubs img {
    padding: 5px 5px 5px 5px;
    width: 80%;
    max-width: 300px;
    height: auto; }

#Rubyside1 {
  padding-bottom: 10px; }

#Rubyside2 {
  padding: 0px 5px 0px 5px; }
  #Rubyside2 img {
    padding: 5px 5px 5px 5px;
    max-width: 400px;
    height: auto; }

#Portfolio {
  padding: 0px 5px 10px 5px; }
  #Portfolio img {
    padding: 5px 5px 5px 5px;
    max-width: 400px;
    height: auto; }

a.hidden {
  display: none; }

#final {
  padding: 5px 5px 30px 5px; }

a.projects {
  color: #000000;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font-weight: 500; }

#experience {
  padding: 10px 5px 5px 5px; }

.half {
  padding: 5px;
  font-size: 16px; }

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  color: #000000;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

label {
  position: relative;
  display: block;
  background: #ffc000;
  font-weight: bold;
  line-height: 3;
  cursor: pointer; }

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #ffd146;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s; }

.yellow .tab-content {
  background: #ffca27; }

/* :checked */
input:checked ~ .tab-content {
  max-height: 900px; }

.button {
  background-color: #fffaeb;
  border: 2px solid #ffc000;
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer; }

#contact {
  padding: 10px 0px 30px 0px; }

.contacts {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  padding-top: 20px; }

h1 {
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px 10px 0px;
  font-weight: bold; }

h2 {
  color: #000000;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px 0px 0px; }

h2.hidden {
  display: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 5px 0px 5px 0px; }

h3 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font-weight: 500; }

h4 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  padding: 0px 10px 0px 10px; }

h5 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none; }

h6 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 20;
  text-decoration: underline;
  font-weight: 500; }

p {
  color: #000000;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 10px 0px 10px; }

p.hidden {
  display: none;
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px 0px 10px; }

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffc000;
  clear: left;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  #work {
    padding: 0px 10% 10px 10%;
    margin-left: auto;
    margin-right: auto; }
    #work img {
      width: 31%;
      height: auto;
      float: left;
      padding: 0px 5px 0px 5px; }

  .clearfloat {
    clear: both; } }
@media only screen and (min-width: 768px) {
  header {
    display: block; }
    header .logo img:hover {
      filter: alpha(opacity=70);
      opacity: 0.7; }

  /* Change the color of links on hover */
  nav a:hover {
    text-decoration: underline; }

  label:hover {
    background: #ffd146; }

  .button:hover {
    background-color: #ffc000;
    text-decoration: underline;
    color: #000000; }

  a.hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
    min-width: 767px;
    padding: 0px 0px 10px 0px; }

  .photo:hover {
    color: #ffc000; }

  .contacts:hover {
    text-decoration: underline; }

  .top:hover {
    text-decoration: underline;
    color: #000000; }

  h2.hidden {
    display: block; }

  p.hidden {
    display: block; }

  #work {
    padding: 0px 10% 10px 10%;
    margin-left: auto;
    margin-right: auto; }
    #work img {
      width: 33.333%;
      height: auto;
      float: left;
      padding: 0px 5px 0px 5px; }

  .clearfloat {
    clear: both; }

  .workimages img:hover {
    filter: alpha(opacity=70);
    opacity: 0.7; }

  div.gallery {
    border: 1px solid #ccc; }

  div.gallery:hover {
    border: 1px solid #777; }

  div.gallery img {
    width: 100%;
    height: auto; }

  div.desc {
    padding: 15px;
    text-align: center; }

  * {
    box-sizing: border-box; }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%; } }

/*# sourceMappingURL=styles.css.map */
